
form {
    border: 3px solid #f1f1f1;

}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f1f1f1;
}


button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


button:hover {
    opacity: 0.8;
}

* {
    box-sizing: border-box
}
.container {
    padding: 16px;
    width: 100%;
    margin: 4.125rem auto 0 auto;

}

span.psw {
    float: right;
    padding-top: 11px;
}


@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}



@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}


form {
    background: green;
    padding: 2.5rem 0.625rem;
    border-radius: 1.25rem;
    width: 50%;
    


}





